/* Font face & global resets */
@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url(https://d1unjqcospf8gs.cloudfront.net/assets/Gilroy-Bold-76f01426d347c0a032cb7669f76f457dfe153f125b58f0ab76a71693796c6918.woff);
}
* {
  margin: 0;
  padding: 0;
}
html {
  min-width: 980px;
  height: 100%;
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  min-height: calc(100% - 77px);
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* Page 3 & 4 sections */
.page34_main_section {
  /* Slightly tweaked from #f9f9f9 to #f8f8f8 */
  background-color: #f8f8f8;
}

.page34_home_main_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page34_main_image {
  width: 655px;
  height: 750px;
}

.page34_service_title {
  color: #ff6f0f;
  font-size: 1.8rem;
  font-weight: 800;
  margin: 0;
}

.page34_main_title {
  font-size: 4rem;
  line-height: 5.5rem;
  /* Slightly changed margin from 1rem 0 to 1.2rem 0 */
  margin: 1.2rem 0;
}

.page34_service_comment {
  color: #7c7c7c;
  font-size: 2rem;
  line-height: 3rem;
  margin: 0;
}

.page34_main_buttons {
  /* Slightly changed margin-top from 3rem to 2.8rem */
  margin-top: 2.8rem;
}

.page34_main_button {
  display: inline-block;
  background-color: #e9ecef;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 700;
  border-radius: 0.6rem;
  /* Slightly changed padding from 1.2rem to 1.1rem */
  padding: 1.1rem;
  margin-right: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.page34_main_button:hover {
  background-color: gainsboro;
}

.page34_main_reverse {
  flex-direction: row-reverse;
}
