@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url(https://d1unjqcospf8gs.cloudfront.net/assets/Gilroy-Bold-76f01426d347c0a032cb7669f76f457dfe153f125b58f0ab76a71693796c6918.woff);
}
* {
  margin: 0;
  padding: 0;
}
html {
  min-width: 980px;
  height: 100%;
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  min-height: calc(100% - 77px);
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* page1 */
#first {
  padding-top: 24px;
  background-color: #fffae0;
}

#first #first-main {
  width: 1024px;
  height: 760px;
  margin: 0 auto;
  position: relative;
  background-color: #fffae0;
}

#first .first-main-title {
  font-size: 54px;
  font-weight: 700;
  line-height: 73px;
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 3.2rem;
  margin-right: 0;
  margin-left: 0;
}

.first-main-text {
  font-size: 20px;
  font-weight: 400;
  color: #7c7c7c;
  line-height: 30px;
}

#first-download-buttons {
  margin-top: 20px;
}

.first-download-button {
  width: 180px;
  height: 56px;
  border-radius: 10px;
  background-color: #ff6f0f;
  box-sizing: border-box;
  text-decoration: none;
  padding: 14px 2rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 1rem;
}
.first-download-button:hover {
  background-color: #f06000;
}

.first-download-img {
  fill: #fff;
  vertical-align: middle;
  display: inline-block;
  width: 25px;
}
.first-download-text {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  margin-left: 8px;
  font-weight: 700;
  vertical-align: middle;
  line-height: 28px;
}

.first-main-image {
  position: absolute;
  right: -84px;
  bottom: 0;
  width: 655px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: 804px 685px;
}
